[security]
${security-dns} ansible_host=${security-ip} # ${security-id}

[database]
${security-dns} ansible_host=${security-ip} # ${security-id}

[manager]
${security-dns} ansible_host=${security-ip} # ${security-id}

[master]
%{ for index, dns in master-dns ~}
${dns} ansible_host=${master-ip[index]}
%{ endfor ~}

[worker]
%{ for index, dns in node-dns ~}
${dns} ansible_host=${node-ip[index]} # ${node-id[index]}
%{ endfor ~}

[cdp_servers]
manager
master
worker

[ipaservers:children]
security

[ipaservers:vars]
ipaadmin_password=ADMPassword1
ipadm_password=DMPassword1
ipaserver_domain=seccluster.local
ipaserver_realm=SECCLUSTER.LOCAL
ipaserver_setup_dns=no
ipaserver_setup_firewalld=no
ipaserver_auto_forwarders=no

[ipaclients:children]
master
worker

[ipaclients:vars]
ipaadmin_password=ADMPassword1
ipaserver_domain=seccluster.local
ipaserver_realm=SECCLUSTER.LOCAL

[all:vars]
ansible_user=centos
ansible_ssh_common_args='-o StrictHostKeyChecking=no'