{
      "refName": "atlas",
      "serviceType": "ATLAS",
      "serviceConfigs": [],
      "roleConfigGroups": [
        {
          "refName": "atlas-ATLAS_SERVER-BASE",
          "roleType": "ATLAS_SERVER",
          "base": true,
          "configs": [
            {
              "name": "atlas_admin_password",
              "value": "atlasPass1"
            }
          ]
        },
        {
          "refName": "atlas-GATEWAY-BASE",
          "roleType": "GATEWAY",
          "base": true,
          "configs": [
          ]
        }
      ]
    }