{
  "refName": "HBASE-1",
  "serviceType": "HBASE",
  "serviceConfigs": [
      {
        "name": "hdfs_service",
        "ref": "HDFS-1"
      }, {
        "name": "zookeeper_service",
        "ref": "ZOOKEEPER-1"  
      } 
  ],
  "roleConfigGroups": [
    {
      "refName": "HBASE-1-REGIONSERVER-BASE",
      "roleType": "REGIONSERVER",
      "base": true,
      "configs": []
    }, {
      "refName": "HBASE-1-MASTER-BASE",
      "roleType": "MASTER",
      "base": true,
      "configs": []
    }, {
      "refName": "HBASE-1-HBASETHRIFTSERVER-BASE",
      "roleType": "HBASETHRIFTSERVER",
      "base": true,
      "configs": []
    }, {
      "refName": "HBASE-1-HBASERESTSERVER-BASE",
      "roleType": "HBASERESTSERVER",
      "base": true,
      "configs": []
    }
  ]
}
