{
  "refName": "HIVE-1",
  "serviceType": "HIVE",
  "serviceConfigs": [
    {
      "name": "hive_metastore_database_host",
      "value": "{{ groups['database'][0] }}"
    }, 
    {% if atlas_enabled %}
    {
      "name": "atlas_service",
      "ref": "atlas"
    }, 
    {% endif %}
    {
      "name": "hive_metastore_database_type",
      "value": "{{ databases.hive.type }}"
    }, {
      "name": "hive_metastore_database_port",
      "value": "5432"
    }, {
      "name": "hive_metastore_database_name",
      "value": "{{ databases.hive.name }}"
    }, {
      "name": "hive_metastore_database_user",
      "value": "{{ databases.hive.user }}"
    }, {
      "name": "hive_metastore_database_password",
      "value": "{{ databases.hive.pass }}"
    }, {
      "name": "mapreduce_yarn_service",
      "ref": "YARN-1"
    }, {
      "name": "zookeeper_service",
      "ref": "ZOOKEEPER-1"
    }
  ],
  "roleConfigGroups": [
    {
      "refName": "HIVE-1-GATEWAY-BASE",
      "roleType": "GATEWAY",
      "configs": [],
      "base": true
    }, {
      "refName": "HIVE-1-HIVEMETASTORE-BASE",
      "roleType": "HIVEMETASTORE",
      "configs": [
        {
          "name": "hive_enable_db_notification",
          "value": "true"
        }, {
          "name": "hive_metastore_delegation_token_store",
          "value": "org.apache.hadoop.hive.thrift.DBTokenStore"
        }
      ],
      "base": true
    }
  ]
}