[
  {% set host_j = joiner(",") %}
  {% for host_template in host_templates %}
  {{ host_j() }}
  {
    "refName": "{{ host_template.name }}",
    "cardinality": "{{ host_template.cardinality }}",
    "roleConfigGroupsRefNames": [
      {% set prod_j = joiner(",") %}
      {%for role in host_template.roles %}
      {{ prod_j() }}
      "{{ role }}"
      {% endfor %}
    ]
  }
  {% endfor %}
]