{
  "refName": "KAFKA-1",
  "serviceType": "KAFKA",
  "serviceConfigs": [
      {
        "name": "zookeeper.chroot",
        "value": "/kafka"
      },
      {
        "name": "producer.metrics.enable",
        "value": "true"
      }
  ],
  "roleConfigGroups": [
      {
        "refName": "KAFKA-1-BROKER-BASE",
        "roleType": "KAFKA_BROKER",
        "configs": [],
        "base": true
      }, {
        "refName": "KAFKA-1-KAFKA_CONNECT-BASE",
        "roleType": "KAFKA_CONNECT",
        "base": true,
        "configs": [
          {
            "name" : "bootstrap.servers",
            "value" : "{% set comma = joiner(",") %}{% for broker in groups['cdf_worker'] %}{{ comma() }}{{ broker }}:9092{% endfor %}"
          },
          {
            "name" : "config.storage.replication.factor",
            "value" : "{{ groups['cdf_worker'] | length }}"
          }, {
            "name" : "offset.storage.replication.factor",
            "value" : "{{ groups['cdf_worker'] | length }}"
          },
          {
            "name" : "status.storage.replication.factor",
            "value" : "{{ groups['cdf_worker'] | length }}"
          }
        ]
      }
  ]
}