{
  "refName": "INFRA_SOLR",
  "serviceType": "SOLR",
  "serviceConfigs": [],
  "roleConfigGroups": [
    {
      "refName": "INFRA_SOLR-SOLR_SERVER-BASE",
      "roleType": "SOLR_SERVER",
      "base": true
    }
  ]
}