{
  "refName": "QUEUEMANAGER-1",
  "serviceType": "QUEUEMANAGER",
  "serviceConfigs": [],
  "roleConfigGroups": [
    {
      "refName": "QUEUEMANAGER-1-QUEUEMANAGER_WEBAPP-BASE",
      "roleType": "QUEUEMANAGER_WEBAPP",
      "base": true,
      "configs": [
      ]
    },
    {
      "refName": "QUEUEMANAGER-1-QUEUEMANAGER_STORE-BASE",
      "roleType": "QUEUEMANAGER_STORE",
      "base": true,
      "configs": [
      ]
    }
  ]
}